<%= turbo_frame_tag dom_id(review) do %>
  <div class="py-5 border-b border-gray-100 text-sm">
    <h3 class="font-bold"><%= review.created_at.to_fs(:long_ordinal) %></h3>
    <div class="text-gray-700">
      <%= review.body %>
    </div>
  </div>
<% end %>
